In [2]:
import pandas as pd
csdl = pd.read_excel("csdl.xls", header=1)
csdl['name']=csdl["Họ"]+' '+csdl['Đệm']+' '+csdl["Tên"]
csdl.head()

,Viện,Lớp,MSSV,Họ,Đệm,Tên,Ngày sinh,Nơi sinh,Gender,Dân tộc,name
0,KCNTT,CNTT.01-K62,20172931,Lê,Xuân,An,1999-12-25,Thái Nguyên,Nam,Kinh,Lê Xuân An
1,KCNTT,CNTT.01-K62,20172940,Phạm,Tuấn,Anh,1999-11-20,Hà Nội,Nam,Kinh,Phạm Tuấn Anh
2,KCNTT,CNTT.01-K62,20172953,Nguyễn,Tiến,Anh,1999-03-23,Thái Bình,Nam,Kinh,Nguyễn Tiến Anh
3,KCNTT,CNTT.01-K62,20170045,Phạm,Quốc,Chung,1999-01-10,Nghệ An,Nam,Kinh,Phạm Quốc Chung
4,KCNTT,CNTT.01-K62,20172992,Trần,Tất,Đắc,1999-01-29,Nam Định,Nam,kinh,Trần Tất Đắc

In [30]:
name = "Lê Xuân An"
dob = "25-12-1999"
d, m ,y = dob.split('-')
dob_tst = pd.Timestamp(int(y), int(m), int(d), 0)
#logic -> find ans
is_name = csdl['name']==name
is_dob = csdl['Ngày sinh']==dob_tst
id_mssv= csdl[is_name & is_dob]["Lớp"][0]
#final
message ="Mã số lớp của bạn là {}".format(id_mssv)
print(message)25-1

Mã số lớp của bạn là CNTT.01-K62